h1{
font-size: 30px;
text-align: center;
color: #FF0000
}

p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
}

h2{
font-size: 30px;
text-align: center;
color: #FF0000
}

body {
text-align: center;	
background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png");
}

